@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

*{
    font-family: 'Jost', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/info';
@import 'blocks/termination';
@import 'blocks/carousel';
@import 'blocks/package';
@import 'blocks/consultation';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/media';