.button {
    width: 260px;
    height: 80px;
    padding: 25px 54px;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
    background: #D52027;
}