.consultation {
    background-image: url(../../img/form_bkg.png);
    background-color: #D52027;;
    width: 100%;
    height: 460px;
    img {
        width: 100%;
        position: relative;
        top: -73px;
    }
    .grid__container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 40px;
        padding-top: 87px;
    }
    &__info {
        grid-column: 5 span;
        &-title {
            color: #FFF;
            font-size: 36px;
            font-weight: 600;
        }
        &-subtitle {
            color: #FFF;
            font-size: 20px;
            font-weight: 400;
        }
    }
    .consultation__form {
        grid-column: 7 span;
        max-width: 500px;
        margin-left: 64px;
        &-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            input {
                height: 64px;
                width: 100%;
                padding-left: 20px;
                margin-bottom: 10px;
                border-radius: 5px;
                background: #F6F6F6;
                border: none;
            }
            .button {
                width: 100%;
                border-radius: 5px;
                background: #141024;
                border: none;
            }
        }
    }
}